<style>
  .mainDiv {
    background-color: bisque;
    padding-top: 10px;
    padding-left: 20px;
  }
</style>
<div class="mainDiv">
  <p>{{ title }} Is Here !!!!</p>
  <nav>
    <ul>
      <li>
        <a [routerLink]="'/allData'">
          Click For AllData
        </a>
      </li>
      <br />
      <li>
        <a [routerLink]="'/userForm'">
          Click For User Form
        </a>
      </li>
      <br />
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
<!-- <app-all-data></app-all-data> -->
